<!-- app/views/admin/dashboard/show.html.erb -->
<h1>Admin::Dashboard#show</h1>
<div>
  <p>Products in database: <%= @product_count %></p>
  <p>Categories in database: <%= @category_count %></p>
</div>
