<!-- app/views/about/index.html.erb -->
<h1>About Us</h1>
<p>Welcome to our store! Here, you'll find a variety of products suited to your needs. Our mission is to provide quality products with exceptional service. Feel free to browse our collection and contact us with any inquiries.</p>
